body{
    /* max-width: 1200px    ; */
    padding: 0;
    margin: 0;
    font-family: "Funnel Display";
}

h1{
    font-family: "Playfair Display";
}

.video-container {
  width: 100%;             /* Fills the width of the screen/parent */
  height: 80vh;           /* Sets the video height (e.g., 50% of screen height) */;
  overflow: hidden;        /* Hides any video overlap from object-fit */
  position: relative;      /* Keeps it in the normal document flow */
}

.video-container video {
  width: 100%;
  height: 100%;
  /* Maintain ratio: use 'cover' to fill or 'contain' to show full frame */
  object-fit: cover; 
}

.content{
    margin: 0 auto;
    padding: 0.5em;
}
